@font-face {
  font-family: "san-serif-lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
} /* подключение шрифта через css с локалки */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}
