body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: auto;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh
}

// flex
.flex {
    display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.js-space-around {
  justify-content: space-around;
}

.a-items {
  align-items: center;
}

// width&height
.full-w {
  width: 100%
}

.full-h {
  height: 100%;
}


// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// fonts
.font-500 {
  font-weight: 500;
}

// overflow
.overflowY-auto {
  overflow-y: auto;
}

// margin

.m-20 {
  margin: 20px
}

.ml-10 {
  margin-left: 10px;
}

.ml-auto {
  margin-left: auto
}

.mr-auto {
  margin-right: auto
}
