.carousel {
    &__images-container{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        &__images {
            border-radius: 130px;
            width: 100%;
            height: 100%;
        }
    }
    
    &__buttons-container {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
        width: 400px;
        top: calc(50% - 27px);
        &__button-wrapper {
            padding-right: 12px;
            border-radius: 27px;
            background-color: #ffffff69;
        }
    }
    &__options {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 250px;
        z-index: 25;
        right: 20%;
        top: 80%;
        &__upload-container {
            &__btn {
                background-color: #ffffff !important;
            }
        }
    }

}