.chat {

    &__container {
        min-width: 1000px;
    }

    &__chats-item {
        // border-bottom: 1px solid grey;
        padding: 5px;
        align-items: center;
        cursor: pointer
    }

    &__chats-item:hover {
        background-color: #deddd9;
    }

    &__chats-item-message-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10px
    }

    &__send-message-input {
        width: 80%;
        margin: 30px auto 0 auto;
    }
    &__active {
        background-color: #b9e6e1;
    
    }
    
    &__active:hover {
        background-color: #64c8bc;
        
    }
    
    &__active:hover * {
        color: white;
    }
}