
.chat {

    &__container {
        width: 100%;
    }

    &__chats-item {
        padding: 5px;
        align-items: center;
        width: 100%;
        cursor: pointer
    }

    &__chat-list-container {
        padding: 10px;
        overflow-y: scroll;
        padding: 10px 0 0 10px;
        height: calc(100vh - 64px);
        position: relative;
    }

    &__chats-item:hover {
        background-color: #deddd9;
    }

    &__chats-item-message-container {
        width: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        padding-left: 10px
    }

    &__title-container {
        display: flex;
        width: 100%
    }

    &__message-text-wrapper {
        // max-width: 80%;
        display: flex;
    }

    &__active {
        background-color: #b9e6e1;
    
    }
    
    &__active:hover {
        background-color: #64c8bc;
        
    }
    
    &__active:hover * {
        color: white;
    }

}

// .active {
//     background-color: #b9e6e1;

// }

// .active:hover {
//     background-color: #64c8bc;
    
// }

// .active:hover * {
//     color: white;
// }